/* Keyframes */
@keyframes showOutline {
  0% {
    border-width: 0;
  }
  100% {
    border-width: 6px;
  }
}

@keyframes showGrattis {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes showAntalRatt {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce-in-zoomin {
  0% {
    transform: scale(7);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  35% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(1.5);
    animation-timing-function: ease-in;
  }
  70% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  80% {
    transform: scale(1.24);
    animation-timing-function: ease-in;
  }
  90% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(1.04);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

@keyframes showActualNumber {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Classes */
.animated-winning-number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 5px;
  background: radial-gradient(circle at 10px 10px, #ff8147, #582401);
  color: #fff;
  font-size: 24px;
  border-radius: 50%;
  opacity: 1;
  transform-style: preserve-3d;
  perspective: 500px;
  animation: bounce-in-zoomin 1s linear 0s 1 normal both;
}

.animated-winning-numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.from-left {
  animation: showGrattis 1s ease-out forwards;

}

.row-numbers {
  margin-top: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.matched-numbers-row {
  border: 4px solid #5dff78;
  animation: showOutline 0.5s linear 0s 1 normal both;
}

.user-number-row {
  display: flex;
  animation: showGrattis 0.5s ease-out forwards;
}
.user-number {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
  margin: 5px;
  background: radial-gradient(circle at 10px 10px, #5cabff, #00194e);
  color: #fff;
  font-size: 24px;
  border-radius: 50%;
}

.grattis-message {
  font-size: 24px;
  color: #00ff00; /* Green color */
  animation: showGrattis 0.5s ease-out forwards;
}

.antal-ratt-message {
  font-size: 24px;
  color: #ff0000; /* Red color */
  animation: showAntalRatt 0.5s ease-out forwards;
}
.matched-count {
  margin-left: 10px;
}
/* Nth Classes */
.animated-winning-number:nth-child(1) {
  animation: bounce-in-zoomin-1 1s linear 0s 1 normal both;
}

.animated-winning-number:nth-child(2) {
  animation: bounce-in-zoomin-2 1s linear 1s 1 normal both;
}

.animated-winning-number:nth-child(3) {
  animation: bounce-in-zoomin-3 1s linear 2s 1 normal both;
}

.animated-winning-number:nth-child(4) {
  animation: bounce-in-zoomin-4 1s linear 3s 1 normal both;
}

.animated-winning-number:nth-child(5) {
  animation: bounce-in-zoomin-5 1s linear 4s 1 normal both;
}

.animated-winning-number:nth-child(6) {
  animation: bounce-in-zoomin-6 1s linear 5s 1 normal both;
}

/* Child Keyframes */
@keyframes bounce-in-zoomin-1 {
  0% {
    transform: scale(7);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  35% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(1.5);
    animation-timing-function: ease-in;
  }
  70% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  80% {
    transform: scale(1.24);
    animation-timing-function: ease-in;
  }
  90% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(1.04);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-zoomin-2 {
  0% {
    transform: scale(7);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  35% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(1.5);
    animation-timing-function: ease-in;
  }
  70% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  80% {
    transform: scale(1.24);
    animation-timing-function: ease-in;
  }
  90% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(1.04);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-zoomin-3 {
  0% {
    transform: scale(7);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  35% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(1.5);
    animation-timing-function: ease-in;
  }
  70% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  80% {
    transform: scale(1.24);
    animation-timing-function: ease-in;
  }
  90% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(1.04);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-zoomin-4 {
  0% {
    transform: scale(7);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  35% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(1.5);
    animation-timing-function: ease-in;
  }
  70% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  80% {
    transform: scale(1.24);
    animation-timing-function: ease-in;
  }
  90% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(1.04);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-zoomin-5 {
  0% {
    transform: scale(7);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  35% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(1.5);
    animation-timing-function: ease-in;
  }
  70% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  80% {
    transform: scale(1.24);
    animation-timing-function: ease-in;
  }
  90% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(1.04);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-zoomin-6 {
  0% {
    transform: scale(7);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  35% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(1.5);
    animation-timing-function: ease-in;
  }
  70% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  80% {
    transform: scale(1.24);
    animation-timing-function: ease-in;
  }
  90% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(1.04);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
