@import url("https://fonts.googleapis.com/css?family=Baloo+Thambi|Muli|Righteous");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Cabin+Condensed:wght@400;500;600;700&family=Kdam+Thmor+Pro&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.cabin-condensed-regular {
  font-family: "Cabin Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}
