/* Keyframes */

@keyframes rotate-center {
  0% {
    transform: rotate(0);
    }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes showActualNumber {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Classes */
.animated-winning-number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 5px;
  background: radial-gradient(circle at 10px 10px, #ff8147, #582401);
  color: #fff;
  font-size: 24px;
  border-radius: 50%;
  opacity: 1;
  transform-style: preserve-3d;
  perspective: 500px;
  animation: rotate-center 1s ease-in-out 0s 1 normal none;
}

.animated-winning-numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row-numbers {
  margin-top: 10px;
  padding: 10px;

  border-radius: 5px;
}

.matched-numbers-row {
  border: 4px solid #5dff78;
}

.user-number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 5px;
  background: radial-gradient(circle at 10px 10px, #5cabff, #00194e);
  color: #fff;
  font-size: 24px;
  border-radius: 50%;
}
/* Nth Classes */
.animated-winning-number:nth-child(1) {
  animation: rotate-center-1 0.2s linear 0s 3 normal none;
}

.animated-winning-number:nth-child(2) {
  animation: rotate-center-2 0.2s linear 0s 6 normal none;
}

.animated-winning-number:nth-child(3) {
  animation: rotate-center-3 0.2s linear 0s 9 normal none;
}

.animated-winning-number:nth-child(4) {
  animation: rotate-center-4 0.2s linear 0s 12 normal none;
}

.animated-winning-number:nth-child(5) {
  animation: rotate-center-5 0.2s linear 0s 15 normal none;
}

.animated-winning-number:nth-child(6) {
  animation: rotate-center-6 0.2s linear 0s 18 normal none;
}

/* Child Keyframes */
@keyframes rotate-center-1 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-center-2 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-center-3 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-center-4 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-center-5 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-center-6 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

